{% extends "base.html" %}
{% block title %} Par mums -  Silky Soaps {% endblock %}
{% block content %}
    
<h1>Par Silky Soaps!</h1>
    <p>Silky Soaps ir skolēnu mācību uzņēmums, kas specializējas rokām darinātu ziepju ražošanā. Mēs paši rūpējamies par katra produkta izgatavošanu, izmantojot augstvērtīgas dabīgās sastāvdaļas, kas bagātina mūsu ziepes ar visām labajām īpašībām, kas nepieciešamas veselīgai un starojošai ādai. </p>
    <p>Mūsu produkts ir rūpīgi izstrādātas ziepes, kas piemērotas lietošanai uz rokām, sejas un ķermeņa. Ziepes tiek bagātinātas ar dabīgām un barojošām izejvielām, piemēram, kazas pienu, šī sviestu un kokosriekstu eļļu, kas dziļi mitrina, baro un atjauno ādu, padarot to maigu un elastīgu.</p>
    <p>Papildus ziepēm mēs piedāvājam arī skrubjus un ķermeņa kopšanas produktus, kas ir ideāli piemēroti dažādu ādas tipu kopšanai un attīrīšanai. Tāpat mēs piedāvājam īpašus ziepju komplektus, kas ir lieliska dāvana ikvienam, kas novērtē dabīgu un veselīgu ādas kopšanu.</p>
    <p>Mūsu īpašais produkts ir mini ziepes – kompakts un ērtā iepakojumā, kas ļauj tās ērti paņemt līdzi ceļojot, uz darbu, skolu vai jebkur citur, kur nepieciešama ādas kopšana. Mini ziepes ir ideāls risinājums tiem, kuri vēlas baudīt mūsu kvalitatīvos produktus jebkurā vietā, saglabājot ādu tīru un kopjamu.</p>
    <p>Silky Soaps mērķis ir nodrošināt vislabākos produktus, kas ir ne tikai dabiski, bet arī videi draudzīgi, kā arī palīdzēt cilvēkiem rūpēties par savu ādu ikdienā. Mēs ticam, ka dabas spēks ir vislabākā atbilde uz veselīgas ādas kopšanu!</p>

    <h2>Mūsu sociālie tīkli</h2>
    <p>Instagram - silkysoaps_smu, Instagram: <a href="https://www.instagram.com/silkysoaps_smu/" target="_blank">Silky Soaps on Instagram</a> </p>
    <p>Facebook - silkysoaps.smu, Facebook: <a href="https://www.facebook.com/search/top?q=silkysoaps.smu&locale=lv_LV" target="_blank">Silky Soaps on Facebook</a> </p>
    <p>Tik Tok - silkysoaps_smu, Tik Tok: <a href="https://www.tiktok.com/@silkysoaps_smu" target="_blank">Silky Soaps on TikTok</a> </p>
    <p>SMU katalogs - Silky Soaps, Katalogs: <a href="https://jalatvia.lv/katalogs/silky-soaps" target="_blank">Silky Soaps katalogs</a> </p>

{% endblock %}