{% extends "base.html" %}
{% block title %}{{product["name"]}} - Silky Soaps{% endblock %}
{% block content %}

<div class="products-show">
    <img src="{{ url_for('static', filename='images/products/' ~ product['image']) }}" alt="{{ product['name'] }}">
    <div>
        <h2>{{product["name"]}}</h2>
    <p>Cena: {{product["price"]}} €</p>
    <p>Smarža: {{product["scent"]}}</p>
    <p>Krāsa: {{product["color"]}}</p>
    <p>Daudzums: {{product["stock"]}}</p>
    <p>Īpašības: {{product["properties"]}}</p>
    <p>Sastāvs: {{product["ingredients"]}}</p>
    </div>
</div>

    <a href="/products/edit/{{ product['id'] }}">Rediģēt produktu</a>

<h2>Atstāj atsauksmi</h2>
<form action="/reviews/add/{{ product['id'] }}" method="POST">
    <label for="user_name">Tavs vārds:</label>
    <input type="text" id="user_name" name="user_name" required>
    
    <label for="review_text">Tava atsauksme:</label>
    <textarea id="review_text" name="review_text" rows="4" required></textarea>
    
    <button type="submit">Iesniedz</button>
</form>


<a href="{{ url_for('products') }}">Visi produkti</a>

{% endblock %}